MotorDeCalidad.egg-info/dependency_links.txt
MotorDeCalidad.egg-info/not-zip-safe
build/lib/motordecalidad/_init_.py
build/lib/motordecalidad/functions.py
MotorDeCalidad.egg-info/PKG-INFO
MotorDeCalidad.egg-info/SOURCES.txt
MotorDeCalidad.egg-info/top_level.txt
motordecalidad/keys.py
